<template name="components_Production_createPackage">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            Create Package
        </div>
        <div class="panel-body">
             {{#with TemplateVar.get 'state'}}
                {{#if isError}}
                    <div class="alert alert-warning">
                        Error creating Package. Please try again.
                    </div>
                {{/if}}
            
                {{#if isMining}}
                    <div class="alert alert-info">
                      Package Creation In Progress....
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}
            
                {{#if isMined}}
                    <div class="alert alert-info">
                        Package has been created successfully!.
                    </div>
                    <hr />
                    <br />
            	{{/if}}

            {{/with}} 

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                                <label for="Quantity" class="col-sm-4 control-label">Quantity</label>
                                <div class="col-sm-6">
                                    <input type="text" id="Quantity" class="form-control" value="" placeholder="Quantity" required/>
                                </div>
                            </div>

                        <div class="form-group">
                            <label for="packagingcreatedby" class="col-sm-4 control-label">Created By</label>
                            <div class="col-sm-6">
                                <input type="text" id="packagingcreatedby" class="form-control" value="" placeholder="Created By"  required/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-5">
                                <button type="button" id="createPackagebtn" style="position: relative;top: 10px;left: 72%;" class="btn btn-sm bg-all"> Create Package
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</template>
