<template name="components_create_pond">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            Create Pond
        </div>
        <div class="panel-body">
            {{#with TemplateVar.get 'state'}} {{#if isError}}
            <div class="alert alert-warning">
                Pond Creation failed.
            </div>
            {{/if}} {{#if isMining}}
            <div class="alert alert-info">
                Pond Creation is in progress...
                <span class="badge text-right">
                    <i class="fa fa-cog fa-spin"></i>
                </span>
            </div>
            {{/if}} {{#if isMined}}
            <div class="alert alert-info">
                Pond Created Successfully! Note:- {{pondEventText}}.
            </div>

            {{/if}} {{/with}}

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="participantID" class="col-sm-4 control-label">Participant ID</label>
                            <div class="col-sm-6">
                                <input type="text" id="participantID" class="form-control" value="" placeholder="Participant ID" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-4 control-label">Pond Name</label>
                            <div class="col-sm-6">
                                <input type="text" id="name" class="form-control" value="" placeholder="Name" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="location" class="col-sm-4 control-label">Pond Location</label>
                            <div class="col-sm-6">
                                <input type="text" id="location" class="form-control" value="" placeholder="Location" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-sm-4 control-label">Pond Description</label>
                            <div class="col-sm-6">
                                <input type="text" id="description" class="form-control" value="" placeholder="Description" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-5">
                                <button type="submit" id="btnCreatePond" style="position: relative;top: 10px;left: 72%;" class="btn btn-sm bg-all">Create Pond
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>