.navbar-custom{ 
    background-color: #135695;width:
    100%;}
    
    .header{color:
    #fff;font-size:
    22px;margin-left:
    10px;margin-top:
    10px;}
    
    .mini-header{color:
    #fff;font-size:
    13px;margin-left:
    80px;}
    
    .sub-header{color:
    #1E90FF;margin-left:
    80px;font-size:
    10px;margin-top:
    -12px;}
    
    .navbar-logo{margin-left:
    30px;}
    
    .container{float:
    left;width:100%; }
    
    .content-header{color:
    #000;margin-left:
    10px;}
    
    .navbar-default 
    .navbar-nav>li>a{color:
    #fff;margin-right:
    25px;margin-top:
    10px;font-size:
    12px;}
    
    .navbar-default 
    .navbar-nav>li>a:hover{
    
    color:#005596
    !important;
    
    background-color: 
    #fff !important;
    
    border-radius: 
    2px; 
    
    
    }
    
    .navbar-default 
    .navbar-nav>li>a:focus{
    
    color:#fff;
    
    background-color: 
    transparent;
    
    
    
    }
    
    .modal-backdrop {
    
    display:none;
    
    }
    
    .fieldWidth{
    
    width: 70%;
    
    }
    
    .formWidth{
    
    width: 50%;
    
    }
    
    .btn{
    
    margin-left: 
    15px;
    
    width: 150px;
    
    height: 40px;
    
    background-color: 
    rgb(63, 
    62, 62);
    
    color: #fff;
    
    
    letter-spacing: 
    .61px;
    
    margin-top: 
    15px;
    
    }
    
    .btnsmall{
    
    margin-left: 
    15px;
    
    width: 120px;
    
    height: 35px;
    
    background-color: 
    rgb(63, 
    62, 62);
    
    color: #fff;
    
    letter-spacing: 
    .61px;
    
    }
    
    .btn:focus{
    
    margin-left: 
    15px;
    
    width: 150px;
    
    height: 40px;
    
    background-color: 
    rgb(63, 
    62, 62);
    
    color: #fff;
    
    
    letter-spacing: 
    .61px;
    
    margin-top: 
    15px;
    
    }
    
    .btn:hover{
    
    margin-left: 
    15px;
    
    width: 150px;
    
    height: 40px;
    
    background-color: 
    #135695;
    
    color: #fff;
    
    
    letter-spacing: 
    .61px;
    
    margin-top: 
    15px;
    
    
    
    }
    
    
    
    .btn:active{
    
    margin-left: 
    15px;
    
    width: 150px;
    
    height: 40px;
    
    background-color: 
    #094680;
    
    color: #fff;
    
    
    letter-spacing: 
    .61px;
    
    margin-top: 
    15px;
    
    
    
    }
    
    .arrow{
    
    margin-left: 
    25px;
    
    }
    
    
    
    .fieldName{
    
    margin-top: 
    15px;
    
    }
    
    /*-----------Newbatch CSS ends---------------*/
    
    
    
    /*-----------Dashboard CSS Starts------------*/
    
    .table{
    
    font-size: 
    12px;
    
    }
    
    .table-wrapper{
    
    margin: auto;
    
    padding-left: 
    30px;
    
    padding-right: 
    30px;
    
    padding-bottom: 
    10px;
    
    padding-top: 
    10px;
    
    width: 100%;
    
    border: 1px
    gray;
    
    -webkit-box-shadow: 
    0 0 4px
    gray;
    
    box-shadow: 
    0 0 2px
    gray;
    
    }
    
    .table thead>th{
    
    font-weight: 
    bold;
    
    
    }
    
    
    
    .dashboard-icon{background:url(Batch_detail_header_icon@3x.png)
    no-repeat;height:
    50px; padding-left:45px;padding-top:5px;
    border-bottom: 
    1px solid 
    #D3D3D3; font-size: 
    14px;}
    
    .table-wrapper{
    
    width: 98.5%;
    
    border: gray;
    
    }
    
    
    
    .batch-number{
    
    color: #176fb3;
    
    font-size: 
    12px;
    
    }
    
    /*----------Dashboard CSS Ends----------*/
    
    /*--TrackStarts--*/
    
    .trackLabel{
    
    margin-left: 
    20px;
    
    text-align: 
    center;
    
    }
    
    
    
    .batch{
    
    margin-left: 
    25px;
    
    }
    
    .batch-text{
    
    margin-top: 
    100px;
    
    margin-left: 
    20px;
    
    }
    
    /*tree css statrs*/
    
    .tree, .tree
    ul {
    
    margin:0;
    
    padding:0;
    
    list-style:none
    
    }
    
    tree ul {
    
    margin-left:1em;
    
    position:relative
    
    }
    
    .tree ul
    ul {
    
    margin-left:.5em
    
    }
    
    
    
    .tree ul:before {
    
    content:"";
    
    display:block;
    
    width:0;
    
    position:absolute;
    
    top:0;
    
    bottom:0;
    
    left:0;
    
    
    
    }
    
    .tree li {
    
    margin:0;
    
    padding:0
    1em;
    
    line-height:2em;
    
    
    font-weight:700;
    
    position:relative
    
    }
    
    
    
    /*.tree ul li:before {
    
    content:"";
    
    display:block;
    
    width:10px;
    
    height:0;
    
    
    margin-top:-1px;
    
    position:absolute;
    
    top:1em;
    
    left:0
    
    }*/
    
    .tree ul
    li:last-child:before {
    
    background:#fff;
    
    height:auto;
    
    top:1em;
    
    bottom:0
    
    }
    
    .indicator {
    
    margin-right:5px;
    
    }
    
    .tree li
    a {
    
    text-decoration: 
    none;
    
    
    }
    
    
    
    .trackBtn{
    
    width: 150px;
    
    height: 35px;
    
    border: none;
    
    border-radius: 
    2px;
    
    font-size: 
    12px;
    
    font-weight: 
    700;
    
    color: #fff;
    
    background-color:#135695;
    
    letter-spacing: 
    .61px;
    
    
    }
    
    /*.trackBtn:hover,.trackBtn:active{
    
    width: 150px;
    
    height: 32px;
    
    background-color: #135695;
    
    color: #fff;
    
    letter-spacing: .61px;
    
    }*/
    
    .tree_scroll{
    
    margin-top: 
    1px solid 
    grey;
    }
    .tree-view{
    border-top: 
    1px solid 
    #ddd;
    }
    .table_section{
    border-left: 
    1px solid 
    #ddd;
    height:100%;
    }
    .icon{padding: 5px;}
    .branch.level1{background:url('Detail_icon@3x.png')
    no-repeat top
    8px left;}
    .branch.level2{background:url('ID_icon@3x.png')
    no-repeat top
    8px left;}
    .branch.level3{background:url('pond_name_icon@3x.png')
    no-repeat top
    8px left;}
    .branch.level4{background:url('farmer_icon@3x.png')
    no-repeat top
    8px left;}
    
    .branch.level5{background:url('packege_icon@3x.png')
    no-repeat top
    8px left;}
    
    .branch.level6{background:url('Unit_icon@3x.png')
    no-repeat top
    8px left;}
    
    /*tree css ends*/
    
    
    
    .alignLeft{
    
    float: left;
    
    margin-top: 
    15px;
    
    font: 15.68px
    arial, sans-sarif;
    
    color: #000000;
    
    margin-left: 
    10px;
    
    
    }
    
    .alignRight{
    
    float: right;
    
    margin-top: 
    15px;
    
    font: 15.68px
    arial, sans-sarif;
    
    color: #000000;
    
    margin-right: 
    15px;
    
    }
    
    .sub-textLeft{
    
    margin-top: 
    50px;
    
    font: 12px
    arial,sans-sarif;
    
    color: rgba(0,
    0, 0,0.7);
    
    margin-left: 
    10px;
    
    }
    
    .sub-textRight{
    
    margin-top: 
    -45px;
    
    font-size: 
    12px;
    
    color: rgba(0,
    0, 0,0.7);
    
    
    float: right;
    
    
    }
    
    .text{
    
    font: 12px
    arial,sans-sarif;
    
    padding-top: 
    5px;
    
    
    }
    
    
    
    .table.table-bordered{
    
    margin-top: 
    45px;
    
    } 
    
    .table.table-bordered>thead>tr>th{
    
    background:rgba(20,99,174,0.1);
    
    }
    
    
    
    .table.records 
    th{max-width:180px;height:120px;position:relative;text-align:center;font:16px
    arial, sans-sarif;font-weight:bold;vertical-align:middle;
     }
    
    .table.records 
    th p{padding-top:25px;}
    
    .table.records 
    th:after,.table.records 
    th:before{left:calc(100% -
    2px);top:25px;border:solid
    transparent;content:" ";border-left;height:0;width:0;position:absolute;pointer-events:none;background:url(arrow@3x.png)
    no-repeat;height:30px;width:20px;}
    
    .table.records 
    th:last-child:after,.table.records 
    th:last-child:before{background:none;}
    
    .table.records 
    td{width: 
    180px; height: 
    120px;}
    
    
    
    
    
    
    
    .highlight{
    
    background:lightgreen;
    
    
    
    }
    
    
    
    .highlight-red{
    
    background:red;
    
    
    
    }
    
    