<template name="header">
<style>
.navbar-default {
    background-color: #2980b9;
    border-color:#2980b9
}

.navbar-default .navbar-brand {
    color: #ffffff;
}
</style>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/" style="font-weight:800">
					Production DApp</a>
			</div>

			<ul class="nav navbar-nav navbar-right">


                    <li>
                            <a href="{{pathFor 'App.admin'}}" style="color: #ffffff;">
                               Admin
                            </a>
                        </li>   

                        
                        <!-- <li>
                            <a href="{{pathFor 'App.events'}}" style="color: #ffffff;">
                               Events
                            </a>
                        </li>   -->



                        <li>
                            <a href="{{pathFor 'App.Saleable'}}" style="color: #ffffff;">
                               Create Saleable Unit
                            </a>
                        </li>  


                           <li>
                            <a href="{{pathFor 'App.Package'}}" style="color: #ffffff;">
                               Create Package
                            </a>
                        </li>  

                        <!-- <li>
                            <a href="{{pathFor 'App.Update'}}" style="color: #ffffff;">
                               Update
                            </a>
                        </li>   -->

                        <li>
                            <a href="{{pathFor 'App.Details'}}" style="color: #ffffff;">
                               Dashboard
                            </a>
                        </li>  


                    <!--<li>
                        <a href="{{pathFor 'App.po.create'}}" style="color: #ffffff;">
                            Create PO
                        </a>
                    </li>   

                    <li>
                            <a href="{{pathFor 'App.order'}}" style="color: #ffffff;">
                               Dashboard
                            </a>
                        </li> -->

                <!-- <li>
                    <a href="{{pathFor 'App.logout'}}" style="color: #ffffff;">
                       Logout
                    </a>
                </li>    -->
			</ul>
		</div>
	</nav>
</template>
